body {
	background-color: black;
}

h1 {
	font-style: cursive;
	font-size: 100px;
	text-align: center;
	color: red;
}

div {
	font-style: cursive;
	color: red;
	font-size: 75px;
	text-align: center;
}

h2 {
	font-style: cursive;
	font-size: 50px;
	text-align: center;
	color: red;
}

ul {
	font-style: cursive;
	font-size: 35px;
	margin-left: 500px;
	color: red;
}